---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  misc-*,
  -cppcoreguidelines-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-use-enum-class,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-emplace,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-uppercase-literal-suffix,
  -readability-identifier-naming,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  -bugprone-assignment-in-if-condition

WarningsAsErrors: ''

HeaderFilterRegex: '(source|include)/.*\.(h|cpp)$'

CheckOptions:
  - key: modernize-use-default-member-init.UseAssignment
    value: '1'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: ''
  - key: readability-function-cognitive-complexity.Threshold
    value: '60'
---
