---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  misc-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-const-correctness,
  -bugprone-assignment-in-if-condition,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -misc-use-internal-linkage,
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -readability-identifier-naming

WarningsAsErrors: ''

HeaderFilterRegex: '(source|include)/.*\.(h|cpp)$'

CheckOptions:
  - key: modernize-use-default-member-init.UseAssignment
    value: '1'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: ''
---
